@import url("animation.css");
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html,body{
	height: 100%;
}
.container{
	height: 100%;
	padding-top: 200px;
}
.wrap{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	transform-style: preserve-3d;
	/* border: 1px solid red; */
	position: relative;
	transform: rotateX(45deg) rotateY(45deg);
	animation:rotate0 10s infinite linear;
}
.wrap:hover{
	animation-play-state: paused;
	cursor: pointer;
	
}
.wrap ul{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.wrap ul li{
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 5px;
	border: 1px solid;
    box-sizing: border-box;
}
.wrap .top li{
	background-color: yellow;
	
}
.wrap .bottom li{
	background-color: deeppink;
}
.wrap .left li{
	background-color: orange;
}
.wrap .right li{
	background-color: red;
}
.wrap .front li{
	background-color: green;
}
.wrap .back li{
	background-color: blue;
}
.wrap .top{
	transform: translateY(-75px) rotateX(90deg);
}
.wrap .bottom{
	transform: translateY(75px) rotateX(-90deg);
}
.wrap .left{
	transform: translateX(-75px) rotateY(-90deg);
}
.wrap .right{
	transform: translateX(75px) rotateY(90deg);
}
.wrap .front{
	transform: translateZ(75px);
}
.wrap .back{
	transform: translateZ(-75px);
}